@charset "utf-8";

.nav {
  ul {
    @include flex($a: center);
  }
  li {
    margin: 0 0.5em;
    svg {
      color: nth($purple, 2);
      width: 1.2em;
      height: 1.2em;
    }
    input[type="checkBox"] {
      @extend .blind;
    }
    input:checked + label svg {
      color: nth($purple, 1);
    }
  }
}
