@charset "utf-8";

.DiaryEditor {
  margin-bottom: 2em;
  .todayEmotion {
    @include flex($a: center);
    padding: 0 1.25em;
    margin-bottom: 1em;
    dt {
      font-size: 1.125em;
      color: white;
    }
    dd {
      .emotionList {
        width: 100%;
        @include flex($a: center, $j: start);
        li:nth-child(2) {
          margin: 0 1em;
        }
        svg {
          width: 2.5em;
          height: 2.5em;
          color: #383f8f35;
          cursor: pointer;
        }
        input[type="radio"] {
          @extend .blind;
        }
        input:checked + label svg {
          color: nth($purple, 2);
        }
      }
    }
  }
  textarea {
    width: 100%;
    min-height: 6.25em;
    padding: 0.625em;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    resize: none;
    color: nth($purple, 2);
    white-space: pre-line;
    line-height: 1.2;
    &:focus {
      outline: 1px solid nth($purple, 2);
    }
    &::placeholder {
      color: nth($gray, 2);
    }
  }
  .editorBtnWrapper {
    @include flex($a: center);
    margin-top: 1em;
    button {
      width: 49%;
      padding: 1.25em 0;
      border-radius: 5px;
      box-sizing: border-box;
      transition: 0.3s all;
      color: white;
      &.reset {
        background-color: nth($purple, 2);
      }
      &.submit {
        background-color: nth($purple, 1);
      }
      &:hover {
        color: nth($purple, 2);
        background: white;
      }
    }
  }
}
