@charset "utf-8";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
mark {
  background-color: transparent;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

i,
em,
address {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid red;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
textarea,
input {
  font-size: inherit;
  font-family: inherit;
}

.blind,
hr,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}
